<div class="newsletter-section{% if section.settings.show_background %} index-section--newsletter-background{% endif %} py-3 mt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        
        <div class="newsletter-card mb-lg-0 mb-3">
          <div class="newsletter-card-header">
            {% if section.settings.section_title != blank %}
            <h3 class="newsletter-card-title h6 mb-2"><strong>{{ section.settings.section_title | escape }}</strong></h3>
            {% endif %}
          </div>
          <div class="newsletter-card-body">
          {%- assign formId = 'Contact_' | append: section.id -%}
          {% form 'customer', id: formId, novalidate: 'novalidate', class: 'contact-form form-single-field mb-0' %}
            {%- if form.posted_successfully? -%}
              <p class="form-message form-message--success" tabindex="-1" data-form-status>
                {{ 'general.newsletter_form.confirmation' | t }}
              </p>
            {%- endif -%}
            <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="row row-input">
                <div class="col-sm-8 col-12 mb-lg-0 mb-3">
                  <input type="email"
                    name="contact[email]"
                    id="{{ formId }}-email"
                    class="form-control{% if form.errors %} input-error{% endif %}"
                    value="{{ form.email }}"
                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="{{ formId }}-email-error"
                      data-form-status
                    {% endif %}
                    >
                </div>
                <div class="col-sm-4 col-12 pl-lg-0">
                  <button type="submit" class="btn btn-secondary" name="commit">
                    <span>{{ section.settings.section_btn_text }}</span>
                  </button>
                </div>
              </div>
            </div>
            {%- if form.errors contains 'email' -%}
              <span id="{{ formId }}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
            {%- endif -%}
          {% endform %}
            {% if section.settings.subheading != blank %}
            <div class="rte"><small>{{ section.settings.subheading | strip_html }}</small></div>
            {% endif %}
      	  </div>
      	</div>
            {% if section.settings.account_title %}
      <div class="col-12 col-md-6 col-lg-4 col-xl d-flex justify-content-start justify-content-lg-center">
        <div class="d-flex align-items-center mb-lg-0 mb-3">
           <div class="contact-icon mr-3">
             <svg class="fa fa-user fa-lg" data-feather="user" width="32" height="32"></svg>
           </div>
           <div class="account-content">
              <a href="{{ section.settings.account_link | downcase }}" title="{{ section.settings.account_title }}" class="text-contact">
                <div class="title-box">
                  <strong>{{ section.settings.account_title }}</strong>
                </div>
                <div class="content-box">
                  {{ section.settings.account_description }}
                </div>
              </a>
           	</div>
         </div>
      </div>
      {% endif %}
            {% if section.settings.service_title %}
      <div class="col-12 col-md-6 col-lg-3 col-xl pr0 pl0 d-flex justify-content-start justify-content-lg-center">
         <div class="d-flex align-items-center mb-lg-0 mb-3">
           <div class="contact-icon mr-3">
              <svg class="fa fa-comment-o fa-lg" data-feather="message-square" width="32" height="32"></svg>
           </div>
           <div class="contact-content">
              <a href="{{ section.settings.service_link | downcase }}" title="{{ section.settings.service_title }}" class="text-contact">
                  <div class="contact-content-title">
                    <strong>{{ section.settings.service_title }}</strong>
                  </div>
                  <div class="contact-content-subtitle">
                    {{ section.settings.service_description }}
                  </div>
                </a>
           	</div>
         </div>
      </div>
      {% endif %}
    </div>
  	</div>
  </div>
</div>
