{%- liquid
  unless current_collection
    assign current_collection = collection
  endunless 
  assign preview_image = product.featured_media.preview_image
  if product.title
    assign compare_at_price = product.compare_at_price
    assign price = product.price
    assign available = product.available
    assign variant = product.variants.first
  else
    assign compare_at_price = 1999
    assign price = 1999
    assign available = true
  endif

  if settings.product_price_display == 'with_currency'
      assign money_price = price | money_with_currency
      assign compare_at_price2 = compare_at_price | money_with_currency
  else
      assign money_price = price | money_without_currency
      assign compare_at_price2 = compare_at_price | money_without_currency
  endif
-%}
      <div class="product product-{{ product.id }}{% unless product.available %} out-of-stock{% endunless %}">
        <div class="product-image text-center mx-auto mb-2">
          {%- if available == false %}<div class="label label-soldout badge badge-danger">Uitverkocht</div>{% endif -%}
          {%- if compare_at_price > price %}<div class="label label-sale badge badge-primary">Sale</div>{% endif -%}
          {%- if product.price_varies == false and product.compare_at_price_varies %}<div class="label label-compare badge badge-info">price--compare-price-hidden</div>{% endif -%}
          {%- if variant.unit_price_measurement %}<div class="label label-available badge badge-info"> price--unit-available</div>{% endif -%}
          <a href="{{ product.url }}" title="{{ product.title }}" class="title h4">
              <img src="{{ preview_image | image_url: width:256, crop:'center' }}" alt="{{ product.title }}" width="256" height="256" loading="lazy" data-size="{{ image_size }}" class="img-fluid m-auto">
          </a>
        </div>
        <div class="product-info {{ settings.product_text_align }}">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          {% if settings.show_vendor %}
          <span class="vendor-title text-muted d-block">{{ product.vendor }}</span>
          {% endif %}
          <div class="product-title">
            <a href="{{ product.url }}" title="{{ product.title }}" class="title text-body">{{ product.title }}</a>
          </div>
          <div class="product-price text-body">
            {%- if product.price_varies -%}
            <span>{{ money_price }}</span>
            {%- else -%}
            <span>{{ money_price }} </span>
            {%- endif -%}
            <span class="text-muted ml-2">{{ compare_at_price2 }}</span>
          </div>
          <div class="product-stock">
            {% unless product.available %}
            <div class="out-of-stock text-danger"><span>{{ 'Niet op voorraad' }}</span></div>
            {% else %}
            <div class="instock text-success"><span>{{ 'Op voorraad' }}</span></div>
            {% endunless %}
          </div>
        </div>
        {% if thumbs != 'no'%}
        <div class="thumbnails hide">
          {%- for media in product.media limit:4 -%}
          <div class="thumb">
            <img src="{{ media | image_url }}" data-preview="{{ media | image_url }}" loading="lazy" height="75" width="75" alt="{{ product.title }}" />
          </div>
          {%- endfor -%}
        </div>
        {% endif %}
      </div>
	{% if thumbs != 'no'%}
    <div class="product-overlay"></div>
	{% endif %}

