<div id="overlayNavigation" class="overlay" onclick="mobileNav($(this));return false;" data-target="#overlayNavigation">
  <div id="resMenu" class="overlay-content">
		<div class="overlay-header bg-white text-body font-weight-bold border-bottom">
      <h5 class="overlay-title">{{ 'layout.navigation.menu' | t }}</h5>
      <button type="button" class="close" onclick="mobileNav($(this));return false;" data-target="#overlayNavigation">
         <span class="fa fa-times" data-feather="x" aria-hidden="true"></span>
      </button>
    </div>
    <div class="overlay-body">
      <div id="resNav">
        <ul class="categories list-unstyled p-0 m-0">
          <li class="item homepage{% if shop.domain == request.url %} active{% endif %}">
            <a href="{{ '' }}" title="{{ shop.name }}"><span>{{ 'layout.navigation.homepage' | t }}</span></a>
          </li>
          {% for category in linklists[linklist].links %}
          <li class="item category{% if category.current %} active{% endif %}">
            <a href="{% if category.links == blank %}{{ category.url }}{% endif %}" title="{{ category.title }}"{% if category.links %} onclick="return false;"{% endif %}>
              <div class="d-flex align-items-center justify-content-between">
                <span>{{ category.title }}</span>
                {% if category.links != blank %}
                <i class="fa fa-chevron-right" data-feather="chevron-right"></i>
                {% endif %}
              </div>
            </a>
            {% if category.links %}
            <ul class="list-unstyled p-0 m-0">
              <li class="item{% if category.child_active %} active{% endif %} goback d-flex align-items-center">
                <a href="" title="{{ category.title }}" onclick="$(this).closest('ul').removeClass('nav-active');return false;">
                  <span class="fa fa-chevron-left" data-feather="chevron-left" width="18" height="18"></span><span class="title">{{ 'layout.navigation.back_to_menu' | t }}</span>
                </a>
                <button type="button" class="close" onclick="mobileNav($(this));return false;" data-target="#overlayNavigation">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x fa fa-times" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
              </li>
              <li class="item{% if category.child_active %} active{% endif %}">
                <a href="{{ category.url }}" title="{{ category.title }}"><strong>{{ category.title }}</strong></a>
              </li>
              {% for subcategory in category.links %}
              <li class="item{% if category.child_active %} active{% endif %}">
                <a href="{% if subcategory.child == blank %}{{ subcategory.url }}{% endif %}" title="{{ subcategory.title }}"{% if category.links != blank %} onclick="return false;"{% endif %}><div class="d-flex align-items-center justify-content-between"><span>{{ subcategory.title }}</span>{% if subcategory.links != blank %}<span class="fa fa-chevron-right" data-feather="chevron-right"></span>{% endif %}</div></a>
                {% if subcategory.links %}
                <ul class="list-unstyled p-0 m-0">
                  <li class="item{% if subcategory.child_active %} active{% endif %} goback d-flex align-items-center">
                    <a href="" title="{{ category.title }}" onclick="$(this).closest('ul').removeClass('nav-active');return false;">
                      <span class="fa fa-chevron-left" data-feather="chevron-left" width="18" height="18"></span><span>{{ 'layout.navigation.back_to' | t }} {{ category.title }}</span>
                    </a>
                    <button type="button" class="close" onclick="mobileNav($(this));return false;" data-target="#overlayNavigation">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x fa fa-times" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </button>
                  </li>
                  <li class="item{% if subcategory.child_active %} active{% endif %}">
                    <a href="{{ subcategory.url }}" title="{{ subcategory.title }}"><strong>{{ subcategory.title }}</strong></a>
                  </li>
                  {% for subsubcategory in subcategory.subs %}
                  <li class="item{% if subsubcategory.child_active %} active{% endif %}">
                    <a href="{{ subsubcategory.url }}" title="{{ subsubcategory.title }}"><span>{{ subsubcategory.title }}</span></a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-light {{ theme.button_style }} {{ theme.button_radius }}" onclick="mobileNav($(this));return false;" data-target="#overlayNavigation">{{ 'layout.navigation.close' | t }}</button>
      </div>
    </div>
  </div>
</div>