<nav class="navbar navbar-expand-lg py-0 mb-0">
  <div class="container">
    <ul class="nav">
    {% for link in linklists[linklist].links %}
      {%- assign child_list_handle = link.title | handleize -%}
      {%- assign three_level_nav = false -%}
      {% if link.links != blank %}
        {% if link.levels == 2 %}
         {%- assign three_level_nav = true -%}
        {% endif %}
      {% endif %}
      <li class="nav-item{% if link.links != blank %} subs{% else %} no-subs{% endif %}">
        <a href="{{ link.url }}" class="nav-link{% if link.child_active %} active{% endif %}">
          <strong class="mr-2">{{ link.title | escape }}</strong>{% if link.links != blank %}<i class="fa fa-chevron-down"></i>{% endif %}
        </a>
        {% if link.links != blank %}
        <div class="submenu">
          <div class="container">
            <div class="row">
              <div class="subinner{% if link.image != blank %} col-9{% else %} col-12{% endif %}">
                  <ul class="list-unstyled mb-0">
                    {% for link in link.links %}
                    <li class="">
                      <a href="{{ link.url }}" class="nav-link {% if link.child_active %} active{% endif %}">
                          <strong class="mr-2">{{ link.title | escape }}</strong>
                      </a>
                      <ul class="list-unstyled mb-3">
                        {% for link in link.links %}
                        <li>
                          <a href="{{ link.url }}" class="nav-link {% if link.child_active %} active{% endif %}">
                              {{ link.title | escape }}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
              {% if link.image != blank %}
              <div class="image">
                <img src="{{ link.image | asset_img }}" alt="{{ link.title | escape }}" />
              </div>
              {% endif %}
            </div>  
          </div>
        </div>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</nav>