{%- capture categories -%}
  {%- for tag in collections[collection.handle].tags -%}
    {%- if tag contains 'categories' -%}
      	{%- assign tag_patterns = tag | split: '_' -%}
		<li class="collection-sidebar__filter-item main-filter text-body" data-tag="{{ tag | handle }}"><a href="" title="{{ tag | handle }}"><span>{{ tag_patterns[1] }}</span></a></li>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
<div id="sidebar" class="sidebar">
  <div class="categories mb-3">
    {%- capture filters -%}
    {%- assign filter_title = '' -%}
    {%- assign div_opened = 0 -%}
    {%- assign div_closed = 0 -%}

    {%- for tag in collection.all_tags -%}
      {%- unless tag contains 'categories' or tag contains 'display' -%}
        {%- assign tag_patterns = tag | split: '_' -%}
        {%- assign heading = tag_patterns[0] -%}
        {%- assign value = tag_patterns[1] -%}

        {%- if value != blank -%}

          {%- if heading != filter_title -%}
            {%- if filter_title != blank -%}
              </ul>
              </div>

              {%- assign div_closed = div_closed | plus: 1 -%}
            {%- endif -%}

            <div class="collection-sidebar__additional-filter widget p-4 mx-2 mb-4" data-filter="{{ tag_patterns[0] }}">
              <h5 class="collection-sidebar__filter-title mb-3"><strong>{{ 'general.filters.' | append: heading | t }}</strong></h5>
              <ul class="list-unstyled collection-sidebar__filter-items mb-0">

            {%- assign filter_title = heading -%}
            {%- assign div_opened = div_opened | plus: 1 -%}
          {%- endif -%}
          <li class="collection-sidebar__filter-item" data-tag="{{ tag | handle }}">
            <a href="" title="{{ tag | handle }}">
              <div class="custom-control custom-checkbox{% if forloop.last == false %} mb-3{% endif %}">
                  <input class="custom-control-input" id="customCheck_{{ tag | handle }}" type="checkbox">
                <label class="custom-control-label text-body" for="customCheck_{{ tag | handle }}"><span>{{ 'general.filters.values.' | append: tag_patterns[1] | t }}</span></label>
               </div>
             </a>
          </li>
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}

    {%- if div_opened != div_closed -%}
       </ul>
       </div>
    {%- endif -%}
  {%- endcapture -%}


    <section class="collection-sidebar" data-collection-url="https://{{ shop.domain }}{{ collection.url }}" data-section-id="collection-sidebar" data-section-type="collection-sidebar">
      <div class="collection-sidebar__content accordion-content">
        {%- if categories != blank -%}
          <div class="collection-sidebar__categories-filter">
            <h3 class="collection-sidebar__filter-title">Categories</h3>
            <ul class="list-unstyled collection-sidebar__filter-items">
              {{ categories }}
            </ul>
          </div>
        {%- endif -%}
		{%- if filters != blank -%}{{ filters }}{%- endif -%}
        <div class="widget widget-categories p-4 mx-2 mb-4">
          <div class="title-box h5">
            <strong>{{ 'layout.navigation.categories' | t }}</strong>
          </div>
          <div class="content-box" id="categories">
            {% for link in linklists.main-menu.links %}
            <div class="title-box box-category">
              <div class="d-flex align-items-center justify-content-between nav-link{% if link.child_active %} active{% endif %} px-0">
                <a href="{{ link.url }}" >
                  <span class="mr-2">{{ link.title | escape }}</span>
                </a>
                {% if link.links != blank %}<i class="fa fa-chevron-down subnav-opener"></i>{% endif %}
              </div>
              <ul class="list-unstyled subnav">
              {% for newlink in link.links %}
                <li>
                  <a href="{{ link.url }}" class="nav-link {% if newlink.active %}active{% endif %}">
                    {{ newlink.title | escape }}
                  </a>
                  </li>
              {%  endfor %}
              </ul>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
