{% assign weekdays = "sunday,monday,tuesday,wednesday,thursday,friday,saturday" | split:','  %}
{% assign date = "now" | date: "%A" | downcase %}
{% assign now = "now" | date:"%H:%M" %}
{% assign seconds = 6 | times: 60 | times: 60 %}
{% assign time = 'now' | date: "%s" | date: "%H:%M" %}

{% capture theme_days %}
  monday|{{ section.settings.monday }},
  tuesday|{{ section.settings.tuesday }},
  wednesday|{{ section.settings.wednesday }},
  thursday|{{ section.settings.thursday }},
  friday|{{ section.settings.friday }},
  saturday|{{ section.settings.saturday }},
  sunday|{{ section.settings.sunday }}
{% endcapture %}
{% assign themeDays = theme_days | strip | split:','  %}

<div id="servicedesk" class="border d-xl-block d-none">
  <div class="title-box d-flex align-items-center justify-content-between p-3 border-bottom">
    <strong>{{ 'general.servicedesk.title' | t }}</strong>
    <div class="service-status">
    {% for day in themeDays %}
       {% assign days = day | strip | split:'|' %}
       {% assign dayTime = days[1] | split:'-' %}
       {% if date == days[0] %}
           {% if dayTime[0] >= time and dayTime[1] >= time %}
      		<div class="badge badge-pill badge-success">
           		<span class="open text-white">{{ 'general.servicedesk.open' | t }}</span>
      		</div>
           {% else %}
      		<div class="badge badge-pill badge-danger" data-start="{{ dayTime[0] }}" data-end="{{ dayTime[1] }}">
           		<span class="closed text-white">{{ 'general.servicedesk.closed' | t }}</span>
      		</div>
           {% endif %}
       {% endif %}
    {% endfor %}
    </div>
  </div>
  <div class="content-box position-relative p-3">
    <div class="owl-services owl-carousel owl-theme">
      <div class="page" data-index="{{ loop.index }}">
        <ul class="list-unstyled mb-0">
           <li class="whatsapp mb-3">
              <a href="https://api.whatsapp.com/send?phone={{ section.settings.whatsapp }}" class="info info-horizontal mct_whatsapp_btn text-body d-inline-flex align-items-center p-0" title="{{ 'Whatsapp' | t }}">
                <div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle"> 
                    <i class="fa fa-lg fa-whatsapp"></i>
                </div>
                 <div class="icon-content description pl-3">
                    <strong>{{ 'general.servicedesk.whatsapp' | t }}</strong><br />
                    <span class="italic">{{ section.settings.whatsapp | raw }}</span>
                 </div>
              </a>
           </li>
          <li class="phone mb-3">
              <a href="tel:{{ section.settings.phone | raw }}" title="" class="info info-horizontal text-body d-inline-flex align-items-center p-0" rel="noreferrer" target="_blank">
                 <div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle"> 
                    <i class="fa fa-lg fa-phone"></i>
                 </div>
                 <div class="icon-content description pl-3">
                    <strong>{{ 'general.servicedesk.call' | t | raw }}</strong><br />
                    <span class="italic">{{ section.settings.phone | raw }}</span>
                 </div>
              </a>
           </li>
           <li class="mail mb-0">
              <a href="mailto:{{ section.settings.email | raw }}" title="" class="info info-horizontal text-body d-inline-flex align-items-center p-0" rel="noreferrer" target="_blank">
                 <div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle"> 
                    <i class="fa fa-lg fa-envelope"></i>
                 </div>
                 <div class="icon-content description pl-3">
                    <strong>{{ 'general.servicedesk.email' | t }}</strong><br />
                    <span class="italic">{{ section.settings.email | raw }}</span>
                 </div>
              </a>
           </li>
          </ul>
      </div>
      <div class="page" data-index="{{ loop.index }}">
        <ul class="list-unstyled mb-0">
            <li class="questions mb-3">
              <a href="pages/klantenservice" title="" class="info info-horizontal text-body d-inline-flex align-items-center p-0" rel="noreferrer" target="_blank">
                 <div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle"> 
                    <i class="fa fa-lg fa-question"></i>
                 </div>
                 <div class="icon-content description pl-3">
                    <strong>{{ 'general.servicedesk.question' | t | raw }}</strong><br />
                    <span class="italic">{{ 'general.servicedesk.question_content' | t | raw }}</span>
                 </div>
              </a>
           </li>
          	<li class="chat-message mb-3">
              <a href="" title="" class="info info-horizontal text-body d-inline-flex align-items-center p-0" onclick="smartsupp('chat:open'); return false;">
                 <div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif%} rounded-circle">
                    <i class="fa fa-lg fa-comments-o" aria-hidden="true"></i>
                 </div>
                 <div class="icon-content description pl-3">
                    <strong>{{ 'general.servicedesk.chat' | t }}</strong><br />
                    <span class="italic">{{ 'general.servicedesk.chat_content' | t }}</span>
                 </div>
              </a>
           </li>
        </ul>
      </div>
    </div>
    {% comment %}
    <ul class="pagination">
      <li class="page-item prev" style="display:none;"><a href="javascript:;" title="{{ 'Previous page' | t }}" class="page-link" data-way="prev"><i class="fa fa-angle-left"></i></a></li>
      <li class="page-item next"><a href="javascript:;" title="{{ 'Next page' | t }}" class="page-link" data-way="next"><i class="fa fa-angle-right"></i></a></li>
    </ul>
    {% endcomment %}
  </div>
  <div class="footer-box p-3 border-top">
    <span class="text-muted">{{ 'general.servicedesk.footer_text' | t }}</span>
  </div>
</div>
<div id="reviewWidget" class="mt-xl-4 mt-lg-0 mt-3">
 <div class="row">
   <div class="ism-reviewwidget py-lg-3 col-lg-12 col-sm-6 col-6 d-xl-none d-block">
     <div class="block-box">
       <div class="ism-titlebox px-lg-3 mb-2"><strong>Klantenservice</strong></div>
       <div class="ism-contentbox info info-horizontal px-lg-3 px-0 pt-0 pb-0">
          <a href="tel:{{ section.settings.phone | raw }}" title="" class="info info-horizontal text-body d-lg-inline-flex d-none align-items-center p-0 mb-3" rel="noreferrer" target="_blank">
          	<div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle"> 
            	<i class="fa fa-lg fa-phone"></i>
            </div>
            <div class="icon-content description pl-3">
               <strong>{{ 'general.servicedesk.call' | t | raw }}</strong><br />
               <span class="italic">{{ section.settings.phone | raw }}</span>
            </div>
          </a>
          <a href="mailto:{{ section.settings.email | raw }}" title="" class="info info-horizontal text-body d-lg-inline-flex d-none align-items-center p-0 mb-3" rel="noreferrer" target="_blank">
          	<div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle"> 
            	<i class="fa fa-lg fa-envelope"></i>
            </div>
            <div class="icon-content description pl-3">
                 <strong>{{ 'general.servicedesk.email' | t }}</strong><br />
                 <span class="italic">{{ section.settings.email | raw }}</span>
            </div>
          </a>
          <a href="pages/klantenservice" title="" class="info info-horizontal text-body d-lg-flex d-flex d-none align-items-center p-0">
            <div class="icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle"> 
              <i class="fa fa-lg fa-question"></i>
            </div>
            <div class="icon-content description d-block pl-lg-3 pl-3">
               	<strong>{{ 'general.servicedesk.question' | t | raw }}</strong><br />
              	<span class="italic">Klik hier</span>
              	{% comment %}
               	<span class="italic">{{ 'general.servicedesk.question_content' | t | raw }}</span>
              	{% endcomment %}
           	</div>
          </a>
       </div>
     </div>
   </div>
   <div class="ism-reviewwidget py-lg-3 col-lg-12 col-sm-6 col-6">
     <div class="block-box">
       <div class="ism-titlebox px-lg-3 mb-lg-3 mb-2"><strong>Klantbeoordelingen</strong></div>
       <div class="ism-contentbox info info-horizontal px-lg-3 px-0 pt-0 pb-0">
          <a href="{{ section.settings.review_url }}" title="" class="ism_link d-flex align-items-center" data-ism-rating="ratingpage" rel="noreferrer" target="_blank">
            <div class="ism-score icon icon-shape icon-shape-info{% if settings.show_btn_gradient %} bg-gradient-primary text-white{% endif %} rounded-circle" data-ism-rating="rating"><strong>{{ section.settings.reviews_score }}</strong></div>
             <div class="ism-details icon-content description pl-lg-3 pl-3">
                <div class="ism-stars">
                  {% for i in (1..section.settings.reviews_star_count) %}<i class="fa fa-star" aria-hidden="true"></i>{% endfor %}
               </div>
                <div class="ism-count"><span class="text-body"><span data-ism-rating="ratingcount">{{ section.settings.reviews_count }}</span> beoordelingen</span></div>
             </div>
          </a>
       </div>
     </div>
   </div>
  </div>
</div>