{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}
{%- assign show_selectors = false -%}

{%- if shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

  {%- unless shop.enabled_payment_types == empty -%}
    {%- assign show_payment_icons = true -%}
  {%- endunless -%}

{%- if currency_selector or locale_selector -%}
  {%- assign show_selectors = true -%}
{%- endif -%}
{%  capture theme_usps_urls %}
  {{ settings.usp_1_url }}
  {{ settings.usp_2_url }}
  {{ settings.usp_3_url }}
  {{ settings.usp_4_url }}
{%  endcapture %}
{%  capture theme_usps_icons %}
  {{ settings.usp_1_icon }}
  {{ settings.usp_2_icon }}
  {{ settings.usp_3_icon }}
  {{ settings.usp_4_icon }}
{% endcapture %}
{% capture theme_usps %}
  {{ settings.usp_1 }}
  {{ settings.usp_2 }}
  {{ settings.usp_3 }}
  {{ settings.usp_4 }}
{% endcapture %}
{% assign checkUsps = false %}
{% assign themeUsps = theme_usps | strip | newline_to_br | strip_newlines | split: "<br />"  %}
{% assign themeUspIcons = theme_usps_icons | strip | newline_to_br | strip_newlines | split: "<br />"  %}
{% assign themeUspUrls = theme_usps_urls | strip | newline_to_br | strip_newlines | split: "<br />"  %}
{% for usp in themeUsps %}{% if usp != blank %}{% assign checkUsps = true %}{% endif %}{% endfor %}

{% if checkUsps %}
<div id="topnav">
  <div class="container">
    <div class="navbar-inner">
        <div class="row">
          <div class="col-12{% if localization.available_countries.size > 1 %} col-lg-9{% endif %}">
            <div class="ml-lg-auto d-md-flex d-none justify-content-{{ section.settings.usp_alignment }}">
              {% for usp in themeUsps %}
              <div class="item text-nowrap text-md-left text-center pr-md-3">
                {% if themeUspUrls[forloop.index0] %}<a href="{{ themeUspUrls[forloop.index0] }}">{%  endif %}
                <i class="fal {{themeUspIcons[forloop.index0]}}  text-primary align-text-bottom"></i>
                <span class="nav-link-inner--text">{{ usp }}</span>
                {% if themeUspUrls[forloop.index0] %}</a>{% endif %}
              </div>
              {% endfor %}

           	</div>
            <div class="d-md-none d-block">
              <div class="owl-mobile-usp owl-carousel owl-carousel">
                {% for usp in themeUsps %}
                <div class="item text-nowrap text-md-left text-center pr-md-3">
                  <i class="fal fa-{{ themeUspIcons[forloop.index0] }} text-primary align-text-bottom"></i>
                  {{ usp }}
                </div>
                {% endfor %}
               </div>
             </div>
          </div>
          {% if localization.available_countries.size > 1 %}
          <div class="col-12 text-right col-lg-3">
            {%- form 'localization', class: 'selectors-form', data-disclosure-form: '' -%}
              {%- if locale_selector -%}
  
                <div class="lang">
                  <ul id="lang-list" class="list-unstyled mb-0" data-disclosure-list>
                      {% for locale in form.available_locales %}
                    	{% assign custom_lang = '/' | append:request.locale.iso_code %}
                		{% assign custom_path = request.path | split: custom_lang %}
                        <li class="language language-{{ locale.iso_code }} disclosure-list__item {% if locale.iso_code == form.current_locale.iso_code %}disclosure-list__item--current{% endif %}">
                          <a class="" href="{{ shop.url }}{% if locale.primary == false %}{{ locale.root_url }}{% endif %}{{ custom_path }}" lang="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %} data-value="{{ locale.iso_code }}" data-disclosure-option>
                            <span class="flag"></span>
                          </a>
                        </li>
                      {%- endfor -%}
                   </ul>
                   <input type="hidden" name="locale_code" id="LocaleSelector" value="{{ form.current_locale.iso_code }}" data-disclosure-input/>
                </div>
              {%- endif -%}

              {%- if currency_selector -%}
                <div class="selectors-form__item">
                  <div class="disclosure" data-disclosure-currency>
                    <button type="button" class="disclosure__toggle" aria-expanded="false" aria-controls="currency-list" aria-describedby="currency-heading" data-disclosure-toggle>
                      {{ form.current_currency.iso_code }} {%- if form.current_currency.symbol -%}{{ form.current_currency.symbol }}{%- endif -%}
                    </button>
                    <ul id="currency-list" class="list-unstyled disclosure-list mb-0">
                      {% for currency in form.available_currencies %}
                        <li class="disclosure-list__item {% if currency.iso_code == form.current_currency.iso_code %}disclosure-list__item--current{% endif %}">
                          <a class="disclosure-list__option" href="#" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %} data-value="{{ currency.iso_code }}" data-disclosure-option>
                            {{ currency.iso_code }} {%- if currency.symbol -%}{{ currency.symbol }}{%- endif -%}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input type="hidden" name="currency_code" id="CurrencySelector" value="{{ form.current_currency.iso_code }}" data-disclosure-input/>
                  </div>
                </div>
              {%- endif -%}
            {%- endform -%}
          </div>
          {% endif %}
        </div>
    </div>
  </div>
</div>
{% endif %}