<div id="register" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-12 m-auto">
        <div class="widget p-4 m-4 bg-white register-block">
          <h1>{{ 'customer.register.title' | t }}</h1>
          <p>Door een account aan te maken in deze winkel kun je het betalingsproces sneller doorlopen, kun je meerdere adressen opslaan en je bestellingen bekijken.</p>
          {% form 'create_customer' %}
           {% include 'theme-messages' %}
            <div class="row">
              <div class="col-lg-6 col-12 mb-3">
                <label for="first_name" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
                <input type="text" value="" name="customer[first_name]" id="first_name" class="form-control" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.errors contains "first_name" %} class="error"{% endif %} autofocus>
              </div>
              <div class="col-lg-6 col-12 mb-3">
                <label for="last_name" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
                <input type="text" value="" name="customer[last_name]" id="last_name" class="form-control" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.errors contains "last_name" %} class="error"{% endif %}>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mb-3">
                  <label for="email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
                  <input type="email" value="" name="customer[email]" id="email" class="form-control" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% endif %} autocorrect="off" autocapitalize="off">
              </div>
              <div class="col-12 mb-3">
                  <label for="password" class="hidden-label">{{ 'customer.register.password' | t }}</label>
                  <input type="password" value="" name="customer[password]" id="create_password" class="form-control" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %}>
              </div>
          </div>
           <div class="d-flex align-items-center justify-content-between mt-3">
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn-{% if settings.show_btn_gradient %}gradient-{% endif %}secondary">
              <div><span>{{ 'customer.register.or' | t }} </span><a href="{{ shop.url }}" class="text-muted">{{ 'customer.register.cancel' | t }}</a></div>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
