{%- assign social_icons = false -%}
{%- assign inline_list = false -%}
{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}
{%- assign show_payment_icons = false -%}
{%- assign show_selectors = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{%- if section.settings.show_payment_icons -%}
  {%- unless shop.enabled_payment_types == empty -%}
    {%- assign show_payment_icons = true -%}
  {%- endunless -%}
{%- endif -%}

{%- if currency_selector or locale_selector -%}
  {%- assign show_selectors = true -%}
{%- endif -%}

{%- if
  settings.social_twitter_link != blank
  or settings.social_facebook_link != blank
  or settings.social_pinterest_link != blank
  or settings.social_instagram_link != blank
  or settings.social_tumblr_link != blank
  or settings.social_snapchat_link != blank
  or settings.social_youtube_link != blank
  or settings.social_vimeo_link != blank
  or request.page_type == 'article'
  or request.page_type == 'blog'
-%}
  {%- assign social_icons = true -%}
{%- endif -%}

{%- assign payment_width_class = "one-half" -%}
{%- if show_selectors -%}
  {%- unless social_icons -%}
    {%- assign payment_width_class = "" -%}
  {%- endunless -%}
{%- endif -%}

{%- if social_icons -%}
  {%- unless show_selectors -%}
    {%- assign copyright_show_class = "" -%}
  {%- endunless -%}
{%- endif -%}

{%- case section.blocks.size -%}
  {%- when 1 -%}
    {%- assign footer_item = 'col-12' -%}
    {%- assign inline_list = true -%}
  {%- when 2 -%}
    {%- assign footer_item = 'col-md-6 col-12' -%}
    {%- assign inline_list = true -%}
  {%- when 3 -%}
    {%- assign footer_item = 'col-lg-4 col-md-6 col-12' -%}
    {%- for block in section.blocks -%}
      {%- if block.type == 'newsletter' -%}
        {%- assign footer_item = 'col-lg-3 col-md-6 col-12' -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- when 4 -%}
    {%- assign footer_item = 'col-lg-3 col-md-6 col-12' -%}
  {%- when 5 -%}
    {%- assign footer_item = 'col-lg-3 col-md-6 col-12' -%}
{%- endcase -%}


{% include 'footer-usp' %}
{% include 'footer-newsletter' %}

{%- capture payment_icon_markup -%}
  {%- if show_payment_icons -%}
    <div class="grid__item site-footer__payment-icons">
      <ul class="d-flex align-items-center justify-content-end list-unstyled payment-icons mb-0 list--inline site-footer__icon-list">
        {%- for type in shop.enabled_payment_types -%}
          <li class="payment-icon ml-2">
            {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
          </li>
        {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{%- endcapture -%}

<footer id="footer" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <div class="section section-shaped no-tilt pt-md-5 p-md-3 py-3">
    <div class="shape shape-style-1 shape-default bg-{% if settings.show_btn_gradient %}gradient-{% endif %}primary">
   		<span></span><span></span><span></span><span></span><span></span><span></span>
 	</div>
    <div class="container">
      <div class="footer_content row">
        {%- for block in section.blocks -%}
          <div class="footer_item {{ footer_item }}" {{ block.shopify_attributes }}>
            <div class="footer-widget widget-{{ block.type }} text-left">
              {%- if block.settings.title -%}
              <div class="title-box">
              	<h4 class="widget-title mb-md-2 mb-0">
                  {{ block.settings.title | escape }}
                </h4>
              </div>
              {%- endif -%}
              {%- case block.type -%}
                {%- when 'contact' -%}
                  <div class="content-box">
                    <div class="contact-details">
                      <ul class="list-unstyled widget-list">
                       <li class="widget-list-item"><span><i class="fa fa-building-o" aria-hidden="true"></i> {{ settings.contact_title }}</span></li>
                       <li class="widget-list-item"><a href="tel:+{{ settings.contact_phone }}" title="phone" class="widget-list-link"><i class="fa fa-phone" aria-hidden="true"></i> {{ settings.contact_phone }}</a></li>
                       <li class="widget-list-item"><a href="mailto:{{ settings.contact_email }}" title="email" class="widget-list-link"><i class="fa fa-envelope" aria-hidden="true"></i> {{ settings.contact_email }}</a></li>
                       <li class="widget-list-item"><span><i class="fa fa-map-marker" aria-hidden="true"></i> {{ settings.contact_adres }}</span></li>
                     </ul>
                    </div>
                    {%- assign socials = "facebook twitter pinterest instagram tumblr snapchat youtube vimeo" | split: ' ' -%}
                    {%- if social_icons and block.settings.social_contact_check -%}
                    <div class="social-media mt-4">
                      <div class="title-box mb-3">
                        <h4 class="widget-title">{{ 'Volg ons' }}</h4>
                      </div>
                      <div class="content-box">
                        <div class="list-inline btn-wrapper profile text-left">
                          {%- for social in socials -%}
                            {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                            {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                            {%- if settings[social_link] != blank -%}
                                <a class="btn btn-{{ social }} btn-sm" href="{{ settings[social_link] | escape }}"  data-toggle="tooltip" data-placement="bottom" data-original-title="{{ social | capitalize }}" aria-describedby="a11y-external-message">
                                  <i class="fa fa-{{ social }}"></i>
                                </a>
                            {%- endif -%}
                          {%- endfor -%}

                          {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
                            <li>
                              <a class="social-icons_link" href="{{ shop.url }}{{ blog.url }}.atom">
                                <span class="icon_fallback-text">RSS</span>
                              </a>
                            </li>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                  </div>
                {%- when 'text' -%}
                  {%- if block.settings.text != blank -%}
                    <div class="content-box site-footer__rte">
                        {{ block.settings.text }}
                    </div>
                  {%- endif -%}
              	  {%- assign socials = "facebook twitter pinterest instagram tumblr snapchat youtube vimeo" | split: ' ' -%}
                  {%- if social_icons and block.settings.social_text_check -%}
                    <div class="social-media mt-4">
                      <div class="title-box mb-3">
                        <h4 class="widget-title">{{ 'Volg ons' }}</h4>
                      </div>
                      <div class="content-box">
                        <div class="list-inline btn-wrapper profile text-left">
                          {%- for social in socials -%}
                            {%- assign social_link = social | prepend: 'social_' | append: '_link' | downcase -%}
                            {%- assign icon_link = social | prepend: 'icon-' | downcase -%}
                            {%- if settings[social_link] != blank -%}
                                <a class="btn btn-{{ social }} btn-sm" href="{{ settings[social_link] | escape }}"  data-toggle="tooltip" data-placement="bottom" data-original-title="{{ social | capitalize }}" aria-describedby="a11y-external-message">
                                  <i class="fa fa-{{ social }}"></i>
                                </a>
                            {%- endif -%}
                          {%- endfor -%}

                          {%- if request.page_type == 'blog' or request.page_type == 'article' -%}
                            <li>
                              <a class="social-icons_link" href="{{ shop.url }}{{ blog.url }}.atom">
                                <span class="icon_fallback-text">RSS</span>
                              </a>
                            </li>
                          {%- endif -%}
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                  {%- assign footer_linklist = block.settings.menu -%}
              		<div class="content-box">
                      <ul class="site-footer__linklist{% if inline_list %} list-inline{% endif %} mb-0">
                        {%- for link in linklists[footer_linklist].links -%}
                        <li class="site-footer__linklist-item">
                           <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
                        </li>
                        {%- endfor -%}
                      </ul>
              		</div>
                {%- when 'link_list' -%}
                  {%- assign footer_linklist = block.settings.menu -%}
                  <div class="content-box mb-4">
                    <ul class="widget-list{% if inline_list %} list-inline{% endif %}">
                      {%- for link in linklists[footer_linklist].links -%}
                       <li class="widget-list-item d-block w-100">
                         <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %} class="widget-list-link">{{ link.title | escape }}</a>
                       </li>
                      {%- endfor -%}
                    </ul>
                  </div>
              	  {% if block.settings.menu_2 != blank %}
                  <div class="title-box mb-3">
                  	<h4 class="widget-title">{{ block.settings.title_2 }}</h4>
                  </div>
              	  <div class="content-box">
                    {%- assign footer2_linklist = block.settings.menu_2 -%}
                    <ul class="widget-list{% if inline_list %} list-inline{% endif %}">
                      {%- for link in linklists[footer2_linklist].links -%}
                       <li class="widget-list-item d-block w-100">
                         <a href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %} class="widget-list-link">{{ link.title | escape }}</a>
                       </li>
                      {%- endfor -%}
                    </ul>
                  </div>
              	  {% endif %}
              {%- endcase -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</footer>
<div class="copyright">
  <div class="container py-2 text-left">
    <div class="row align-items-center">
      <div class="copyright col-lg-6 col-12 order-lg-1 order-2">
        <small class="site-footer__copyright-content">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
        <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">- {{ 'The Earl Trade' }} </small>
        <br />
        <small class="site-footer__copyright-content site-footer__copyright-content--powered-by">{{ powered_by_link }}</small>
      </div>
      {%- if show_selectors -%}
      <div class="col-lg-6 col-12 order-lg-2 order-1">
      	<div class="grid__item small--hide {{ payment_width_class }}">{{ payment_icon_markup }}</div>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>



{% schema %}
{
  "name": {"nl": "Voettekst"},
  "max_blocks": 4,
  "settings": [
	{
      "type": "header",
      "content": {"nl": "Retourgegevens"}
    },
	{
      "type": "text",
      "id": "company_returnemail",
      "label": {"nl": "Retouremail"},
      "default": "Jouw retour e-mailadres"
    },
	{
      "type": "text",
      "id": "company_returnadres",
      "label": {"nl": "Retouradres"},
      "default": "Jouw retour adres"
    },
    {
      "type": "header",
      "content": {"nl": "Betaalmethoden"}
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {"nl": "Betalingspictogrammen weergeven"},
      "default": false
    },
    {
      "type": "header",
      "content": {"nl": "Taalkiezer"},
      "info": {"nl": "Ga naar je [taalinstellingen.](/admin/settings/languages) om een taal toe te voegen."}
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": {"nl": "Taalkiezer weergeven"},
      "default": true
    },
    {
      "type": "header",
      "content": {"nl": "Valutakiezer"},
      "info": {"nl": "Ga naar je [betaalinstellingen.](/admin/settings/payments) om een valuta toe te voegen."}
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": {"nl": "Valutakiezer weergeven"},
      "default": true
    },
	{
      "type": "header",
      "content": {"nl": "Nieuwsbrief"},
      "info": {"nl": "Stel hier je nieuwsbrief in."}
    },
	{
      "type": "text",
      "id": "section_title",
      "label": {"nl": "Titel"},
      "default": {"nl": "Abonneren op onze nieuwsbrief"}
    },
    {
      "type": "text",
      "id": "section_btn_text",
      "label": {"nl":"Knop tekst"},
      "default": {"nl":"Abonneren"}
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": {"nl": "Subtitel"},
      "default": {"nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in je inbox.</p>"}
    },
    {
      "id": "show_background",
      "type": "checkbox",
      "label": {"nl": "Toon achtergrond"},
      "default": true
    },
    {
      "type": "paragraph",
      "content": {"nl": "Voor alle klanten die zich aanmelden, wordt een Shopify-account gemaakt. [Bekijk klanten](/admin/customers?query=&accepts_marketing=1)"}
    },
	{
      "type": "header",
      "content": {"nl": "Services"},
      "info": {"nl": "Voer hier je services in voor in de footer"}
    },
	{
      "type": "url",
      "id": "account_link",
      "label": {"nl": "Account Link"},
      "info": {"nl": "Optioneel"}
    },
	{
      "type": "text",
      "id": "account_title",
      "label": {"nl": "Titel"},
      "default": {"nl": "Snel regelen in je account"}
    },
	{
      "type": "richtext",
      "id": "account_description",
      "label": {"nl": "Omschrijving"},
      "default": {"nl": "<p>Volg je bestelling, betaal facturen of retourneer een artikel.</p>"}
    },
	{
      "type": "url",
      "id": "service_link",
      "label": {"nl": "Service Link"},
      "info": {"nl": "Optioneel"}
    },
	{
      "type": "text",
      "id": "service_title",
      "label": {"nl": "Titel"},
      "default": {"nl": "Heb je ons nodig?"}
    },
	{
      "type": "richtext",
      "id": "service_description",
      "label": {"nl": "Omschrijving"},
      "default": {"nl": "<p>We helpen je graag. Onze klantenservice is dag en nacht open.</p>"}
    }
  ],
  "blocks": [
    {
      "type": "link_list",
      "name": {"nl": "Menu"},
      "settings": [
		{
          "type": "header",
          "content": {"nl": "Footer menu 1"}
        },
        {
          "type": "text",
          "id": "title",
          "label": {"nl": "Titel"},
          "default": {"nl": "Footer Titel"}
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": {"nl": "Menu"},
          "default": "footer"
        },
		{
          "type": "header",
          "content": {"nl": "Footer menu 2"}
        },
		{
          "type": "text",
          "id": "title_2",
          "label": {"nl": "Titel"},
          "default": {"nl": "Footer Titel 2"}
        },
        {
          "type": "link_list",
          "id": "menu_2",
          "label": {"nl": "Menu"}
        }
      ]
    },
    {
      "type": "contact",
      "name": {"nl": "Contactgegevens"},
      "settings": [
		{
          "type": "text",
          "id": "title",
          "label": {"nl": "Titel"},
          "default": {"nl": "Contactgegevens"}
        },
        {
          "type": "header",
          "content": {"nl": "Bedrijfsgegevens"}
        },
        {
          "type": "text",
          "id": "company_title",
          "label": {"nl": "Bedrijfsnaam"},
          "default": "Jouw bedrijf"
        },
        {
          "type": "text",
          "id": "company_email",
          "label": {"nl": "E-mailadres"},
          "default": "Jouw e-mailadres"
        },	
        {
          "type": "text",
          "id": "company_phone",
          "label": {"nl": "telefoonnummer"},
          "default": "06-12345678"
        },
        {
          "type": "text",
          "id": "company_address",
          "label": {"nl": "Bedrijfsadres"},
          "default": "Jouw adres"
        },
		{
          "type": "checkbox",
          "id": "social_contact_check",
          "label": {"nl": "Social Media"},
          "default": false
        }
      ]
    },
	{
      "type": "text",
      "name": {"nl": "Tekst"},
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": {"nl": "Titel"},
          "default": {"nl": "Vertel over je bedrijf"}
        },
        {
          "type": "richtext",
          "id": "text",
          "label": {"nl": "Tekst"},
          "default": {"nl": "<p>Deel winkeldetails, promoties of merkcontent met je klanten.</p>"}
        },
		{
          "type": "checkbox",
          "id": "social_text_check",
          "label": {"nl": "Social Media"},
          "default": false
        }
      ]
    }
  ]
}
{% endschema %}
