{% if section.settings.message %}
  {% if section.settings.home_page_only == false or request.page_type == 'index' %}
    <div class="announcement-bar py-1 text-{{ section.settings.bar_alignment }}" role="region" aria-label="{{ 'layout.header.announcement_bar_label' | t }}" style="background-color:{{  section.settings.aankondigs_color_bg }};">
      <div class="container"> 
      {%- unless section.settings.message_link == blank -%}
          <a href="{{ section.settings.message_link }}" class="announcement-bar__link" style="color:{{  section.settings.aankondigs_color_text}}">
      {%- endunless -%}
            <p class="announcement-bar_message mb-0">{{ section.settings.message_text | escape }}</p>
      {%- unless section.settings.message_link == blank -%}
          </a>
      {%- endunless -%}
      </div>
    </div>
  {% endif %}
{% endif %}
{% render 'theme-topnav', linklist: section.settings.main_linklist %}
<header id="header" class="header{% if section.settings.align_logo == 'left' %} logo-left{% elsif section.settings.align_logo == 'center' %} logo-center{% endif %}" data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  <div class="container">  
  	<div class="header-inner pb-md-2">
      <div class="row align-items-center">
        <div id="logo" class="col-lg-4 col-lg-4 col-7 text-md-left text-center{% if section.settings.align_logo == 'left' %} order-lg-1 order-1{% elsif section.settings.align_logo == 'center' %} order-lg-2 order-1{% endif %}">
          <div class="d-flex align-items-end{% if section.settings.align_logo == 'left' %} justify-content-start{% elsif section.settings.align_logo == 'center' %} justify-content-center{% endif %}">
            
            {% if section.settings.logo %}
              <a href="{{ routes.root_url }}" class="">
                {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                <img src="{{ section.settings.logo | image_url }}" class="img-fluid m-auto" width="{{ section.settings.logo_max_width }}" height="auto" alt="{{ shop.name }}" loading="lazy" />
              </a>
            {% else %}
            <h1 class="h4 mb-0{% if section.settings.align_logo == 'left' %} mr-4{% endif %}">
              <a class="" href="{{ routes.root_url }}">{{ shop.name }}</a>
            </h1>
            {% endif %}
          </div>
        </div>
        <div id="search" class="col-lg-4{% if section.settings.align_logo == 'left' %} order-lg-2 order-3{% elsif section.settings.align_logo == 'center' %} order-xl-1 order-3{% endif %}">
          	<div class="d-flex align-items-center">
              <div class="res-menu d-lg-none d-block mr-3">
                  <a href="" title="" onclick="mobileNav($(this));return false;" id="resNavOpener" class="text-body" data-target="#overlayNavigation"><i class="fa fa-menu"></i></a>
              </div>
              {% render 'theme-search' %}
          	</div>
        </div>
        <div class="nav-icons col-lg-4 col-5 order-lg-3 order-2">
          <nav class="navbar navbar-expand-lg d-flex p-0 h-100">
            {% if section.settings.hallmark %}
            <div class="hallmark d-flex justify-content-end mr-3">
              <div class="hallmark">
                  <a href="https://www.webwinkelkeur.nl/webshop/unieksjiek-nl_1217160" " target="_blank" rel="noreferrer">              
                       <img src="{{ section.settings.hallmark | img_url:'master' }}" loading="lazy" width="120" height="32" alt="hallmark" class="img-fluid">
                    </a>        
                </div>
            </div>
            {% endif %}
              <ul class="list-unstyled align-items-end mb-0">
                {% if shop.customer_accounts_enabled %}
                <li class="nav-item dropdown">
                  {% if customer %}
                    <a href="{{ routes.account_url }}" class="nav-link nav-link-icon position-relative">
                      <i class="fal fa-user icon text-primary mr-lg-2"></i>
                      <strong class="menu-text d-inline-block align-middle">{{ customer.first_name }}</strong>
                    </a>
                  {% else %}
                    <a href="{{ routes.account_login_url }}" class="nav-link nav-link-icon position-relative">
                      <i class="fal fa-user icon text-primary mr-lg-2"></i>
                      <strong class="menu-text d-inline-block align-middle hidden-mobile">
                        {{ 'layout.customer.log_in' | t }}
                        {% comment %}<br /><span>{{ 'layout.customer.or_register' | t }}</span>{% endcomment %}
                      </strong>
                    </a>
                  {% endif %}
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                  <a href="{{ routes.cart_url }}" class="nav-link nav-link-icon position-relative">
                    <i class="fal fa-sm fa-shopping-cart icon text-primary mr-lg-2"></i>
                    <strong class="menu-text nav-link-inner--text d-inline-block align-middle hidden-mobile">{{ 'layout.cart.title' | t }}</strong>
                    <div id="CartCount" class="badge badge-pill badge-primary{% if cart.item_count == 0 %} hide{% endif %} critical-hidden" data-cart-count-bubble>
                      <span class="cart-count" data-cart-count>{{ cart.item_count }}</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item dropdown ipad-view">
                  <a href="" onclick="mobileNav($(this));return false;" data-target="#overlayNavigation" class="nav-link nav-link-icon position-relative">
                    <i class="fal fa-sm fa-bars icon text-primary mr-lg-2"></i>
                  </a>
                </li>
              </ul>
          </nav>
         </div>
      </div>
    </div>
  </div>
</header>
<div id="navbar" class="d-none d-xl-block">
	{% render 'theme-navigation', linklist: settings.main_linklist %}
</div>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append: 'x' %}
    "logo": {{ section.settings.logo | image_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>
{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Header",
    "nl": "Koptekst"
  },
  "settings": [
    {
      "type": "radio",
      "id": "align_logo",
      "label": {
        "de": "Logo-Ausrichtung",
        "en": "Logo alignment",
        "nl": "Logo-uitlijning"
      },
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": {
            "de": "Links",
            "en": "Left",
            "nl": "Links"
          }
        },
        {
          "value": "center",
          "label": {
            "de": "Mittig",
            "en": "Centered",
            "nl": "Gecentreerd"
          }
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "nl": "Afbeelding van logo"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "de": "Logobreite",
        "en": "Custom logo width",
        "nl": "Aangepaste logo-breedte"
      },
      "min": 50,
      "max": 250,
      "step": 2,
      "unit": "px",
      "default": 250
    },
    {
      "type": "header",
      "content": {
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "nl": "Aankondigingsbalk"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "nl": "Aankondiging weergeven"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "de": "Nur Startseite",
        "en": "Home page only",
        "nl": "Alleen homepage"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "bar_alignment",
      "label": "Aankondigsbalk uitlijning",
      "options": [
        {
          "value": "left",
          "label": "links"
        },
        {
          "value": "right",
          "label": "rechts"
        },
        {
          "value": "center",
          "label": "midden"
        }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "usp_alignment",
      "label": "USP balk uitlijning",
      "options": [
        {
          "value": "around",
          "label": "Met tussenruimte"
        },
        {
          "value": "between",
          "label": "Met tussenruimte en verdeeld over breedte"
        },
        {
          "value": "center",
          "label": "Gecentreerd"
        }
      ],
      "default": "between"
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "nl": "Tekst"
      },
      "default": {
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "nl": "Kondig hier iets aan"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "de": "Link",
        "en": "Link",
        "nl": "Link"
      },
      "info": {
        "de": "Optional",
        "en": "Optional",
        "nl": "Optioneel"
      }
    },
    {
      "type": "color",
      "id": "aankondigs_color_bg",
      "label": {
        "de": "Zeile",
        "en": "Bar",
        "nl": "Balk"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "color",
      "id": "aankondigs_color_text",
      "label": {
        "de": "Text",
        "en": "Text",
        "nl": "Tekst"
      },
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": {
        "de": "Qualitätszeichen",
        "en": "Hallmark",
        "nl": "Keurmerk"
      }
    },
    {
      "type": "image_picker",
      "id": "hallmark",
      "label": {
        "de": "Qualitätszeichen",
        "en": "Hallmark",
        "nl": "Keurmerk"
      }
    }
  ]
}
{% endschema %}
