<div data-section-id="{{ section.id }}" data-section-type="usp-section">
  <div class="usp d-lg-block d-none pb-4" aria-label="usp" aria-describedby="usp-info" tabindex="-1" >
    <div class="container">
      <ul class="usp-nav list-unstyled d-lg-flex align-items-center{% if section.settings.show_usp_desc %} justify-content-between{% else %} justify-content-center{% endif %} mb-0{% if section.settings.show_usp_desc %} with_desc{% endif %}"{% if section.settings.show_usp_desc %} style="background-color:{{ section.settings.color_usp_bg }};{% endif %}">
        {%- for block in section.blocks -%}
        <li class="usp-item d-flex mx-2">
          <a {%  if block.settings.usp_url %}href="{{ block.settings.usp_url }}"{%  endif %}>
           <i{% if section.settings.icon_set == 'feathericons' %} data-feather="{{ block.settings.usp_icon }}"{% endif %} stroke-width="2" height="16" width="16" class="{% if section.settings.icon_set == 'fontawesome' %}fa {{ block.settings.usp_icon }}{% endif %} text-primary align-text-bottom mt-1 mr-2"></i>
            <div class="item-details">
        		<span>{{ block.settings.usp }}</span>
              	{% if section.settings.show_usp_desc %}
                <p class="text-muted">{{ block.settings.usp_desc }}</p>
                {% endif %}
            </div>
          </a>
         </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% schema %}
  {
  	"name": {"nl": "Unique Selling Points"},
  	"class": "index-section index-section--flush index-section--usp",
	"blocks": [
      {
        "type": "image",
        "name": {"nl": "USP"},
		"limit":4,
        "settings": [
            {
              "type": "text",
              "id": "usp_icon",
              "label": "USP Icon",
              "info": "Voer hier de cheatcode van je usp icoon in.",
              "default": {"nl": "fa-check"}
            },
			{
              "type": "text",
              "id": "usp",
              "label": "USP Tekst",
              "info": "Voer hier de tekst van je usp in",
              "default": {"nl": "Snelle levering"}
            },
            {
              "type": "text",
              "id": "usp_desc",
              "label": "USP 4 Omschrijving",
              "info": "Voer hier je usp omschrijving in",
              "default": {"nl": "Voer hier een omschrijving in."}
            },
            {
              "id": "usp_url",
              "type": "url",
              "label": "USP Link"
            }
        ]
      }
	],
    "settings": [
      {
        "type": "checkbox",
        "id": "show_usp_desc",
        "label": {"nl": "Toon omschrijving"},
        "default": true
      },
	  {
        "type": "color",
        "id": "color_usp_bg",
        "label": "Usp Background",
        "default": "#FFFFFF"
      },
	  {
         "type": "select",
         "id": "icon_set",
         "label": "Kies je icon stijl",
		 "info": "Font awesome: [cheatcodes](https:\/\/fontawesome.com\/v4.7.0\/icons\/) Feather Icons: [cheatcodes](https:\/\/feathericons.com)",
         "options": [
           {
             "value": "fontawesome",
             "label": "Font Awesome"
           },
           {
             "value": "feathericons",
             "label": "Feather Icons"
           }
         ], 
         "default": "fontawesome"
      }
    ],
	"presets": [
      {
        "name": {"nl": "Unique Selling Points"},
        "category": {"nl": "Tekst"}
      }
    ]
  }
{% endschema %}
