<div data-section-id="{{ section.id }}" data-section-type="owl-section">
  {% if section.settings.homepage_style == 'banners' or section.settings.homepage_style == 'service' %}
  <div class="container mt-md-4 pb-lg-4 pb-0">
    <div class="row">
      <div class="{% if section.settings.homepage_style == 'banners' %}col-xl-8{% else %}col-xl-9{% endif %} col-lg-8 col-12">
        <div id="slider" class="headlines" aria-label="owl" aria-describedby="owl-info" tabindex="-1" data-slider>
           <div class="headline content-box position-relative">
             {% if section.blocks.size > 1 %}
              <div class="custom-nav d-lg-flex d-none align-items-center justify-content-end">
                  <a href="" onclick="return false;" class="prev icon icon-shape bg-white shadow rounded-circle"><i class="fa fa-chevron-left" data-feather="chevron-left" width="18" height="18"></i></a>
                  <a href="" onclick="return false;" class="next icon icon-shape bg-white shadow rounded-circle"><i class="fa fa-chevron-right" data-feather="chevron-right" width="18" height="18"></i></a>
              </div>
             {% endif %}
              <div class="{% if section.blocks.size > 1 %}owl-slider owl-carousel owl-theme{% else %}no-slider{% endif %}">
                {%- for block in section.blocks -%}
                {%- assign block_image = block.settings.image -%}
                {% if block_image != blank %}
                 <div class="slide d-flex justify-content-center" data-slide-id="{{ section.id }}">
                    <a href="{{ block.settings.button_link }}" title="{{ block_image.alt | escape }}">
                      {% if section.settings.homepage_style == 'banners' %}
                      	<img src="{{ block_image | image_url }}" width="904" height="484" alt="{{ block.settings.button_label | escape }}" loading="lazy" class="img-fluid" />
                      {% else %}
                      	<img src="{{ block_image | image_url }}" width="1020" height="484" alt="{{ block.settings.button_label | escape }}" loading="lazy" class="img-fluid" />
                      {% endif %}
                       <div class="slide-content position-absolute">
                          <div class="slide-text{% if section.settings.text_size == 'large' %} large-text{% endif %} mb-4">
                            <h3 class="display-3 text-white text-shadow d-block mb-0">{{ block.settings.slide_title }}</h3>
                            {%- unless block.settings.subheading == blank -%}
                            <span class="lead text-italic text-white text-shadow">
                            {{ block.settings.subheading }}
                          	</span>
                            {%- endunless -%}
                         </div>
                          <a href="{{ block.settings.button_link }}" title="{{ block_image.alt | escape }}" class="btn btn-icon btn-{% if settings.show_btn_gradient %}gradient-{% endif %}primary">
                            <span class="btn-inner--text align-middle">{{ block.settings.button_label }}</span><span class="btn-inner--icon"><i class="fal fa-chevron-right"></i></span>
                          </a>
                        </div>
                    </a>
                 </div>
                {% endif %}
                {% endfor %}
              </div>
           </div>
        </div>
      </div>
      <div class="{% if section.settings.homepage_style == 'banners' %}col-xl-4{% else %}col-xl-3{% endif %} col-lg-4 col-12">
        {% if section.settings.homepage_style == 'banners' %}
        <div id="banners" class="banners row">
          <div class="banner banner-1 col-md-12 col-12 mb-md-4">
            <div class="banner-inner position-relative">
              <a href="{{ section.settings.button_link }}" title="{{ section.settings.button_1_label }}"><img src="{{ section.settings.banner_1 | image_url }}" width="437" height="230" loading="lazy" alt="{{ section.settings.button_1_label }}" class="img-fluid" /></a>
              {% if section.settings.button_1_label != blank %}
              <div class="banner-content">
                <a href="{{ section.settings.banner_1_link }}" title="{{ block_image.alt | escape }}" class="btn btn-icon btn-{% if settings.show_btn_gradient %}gradient-{% endif %}primary my-0">
                  <span class="btn-inner--text align-middle">{{ section.settings.button_1_label }}</span><span class="btn-inner--icon"><i class="fal fa-chevron-right"></i></span>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="banner banner-2 col-md-12 col-12">
            <div class="banner-inner position-relative">
              <a href="{{ section.settings.button_link }}" title="{{ block_image.alt | escape }}"><img src="{{ section.settings.banner_2 | image_url }}" loading="lazy" width="437" height="230" alt="{{ section.settings.button_1_label }}" class="img-fluid" /></a>
              {% if section.settings.button_1_label != blank %}
              <div class="banner-content">
                <a href="{{ section.settings.banner_2_link }}" title="{{ section.settings.button_1_label | escape }}" class="btn btn-icon btn-{% if settings.show_btn_gradient %}gradient-{% endif %}primary my-0">
                  <span class="btn-inner--text align-middle">{{ section.settings.button_2_label }}</span><span class="btn-inner--icon"><i class="fal fa-chevron-right"></i></span>
                </a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% elsif section.settings.homepage_style == 'service' %}
        	{% include 'theme-servicedesk' %}
        {% endif %}
      </div>
    </div> 
  </div>
  {% elsif section.settings.homepage_style == 'slider' or section.settings.homepage_style == 'two_slides' %}
  	{% if section.settings.homepage_style == 'slider' %}
  		<div id="slider" class="headlines pb-lg-4" aria-label="owl" aria-describedby="owl-info" tabindex="-1" data-slider>
           <div class="headline content-box position-relative">
             {% if section.blocks.size > 1 %}
              <div class="custom-nav d-lg-flex d-none align-items-center justify-content-end">
                  <a href="" onclick="return false;" class="prev icon icon-shape bg-white shadow rounded-circle"><i class="fa fa-chevron-left" data-feather="chevron-left" width="18" height="18"></i></a>
                  <a href="" onclick="return false;" class="next icon icon-shape bg-white shadow rounded-circle"><i class="fa fa-chevron-right" data-feather="chevron-right" width="18" height="18"></i></a>
              </div>
             {% endif %}
              <div class="{% if section.blocks.size > 1 %}owl-slider owl-carousel owl-theme{% else %}no-slider{% endif %}">
                {%- for block in section.blocks -%}
                  {%- assign block_image = block.settings.image -%}
                  {% if block_image != blank %}
                   <div class="slide d-flex justify-content-center" data-slide-id="{{ section.id }}">
                        <a href="{{ block.settings.button_link }}" title="{{ block_image.alt | escape }}">
                          <img src="{{ block_image | image_url }}" alt="{{ block.settings.button_label | escape }}" width="1920" height="500" loading="lazy" class="img-fluid" />
                        </a>
                         <div class="slide-content slide-full position-absolute">
                           <div class="container position-relative">
                            <div class="slide-text{% if section.settings.text_size == 'large' %} large-text{% endif %} mb-4">
                              <h3 class="display-3 text-white text-shadow d-block mb-0">{{ block.settings.slide_title | escape }}</h3>
                              {%- unless block.settings.subheading == blank -%}
                              <span class="lead text-italic text-white text-shadow">
                              {{ block.settings.subheading | escape }}
                              </span>
                              {%- endunless -%}
                             </div>
                            <a href="{{ block.settings.slide.url }}" title="{{ block_image.alt | escape }}" class="btn btn-icon btn-{% if settings.show_btn_gradient %}gradient-{% endif %}primary">
                              <span class="btn-inner--text align-middle">{{ block.settings.button_label }}</span><span class="btn-inner--icon"><i class="fal fa-chevron-right"></i></span>
                            </a>
                          </div>
                        </div>
                   </div>
                  {% endif %}
                {% endfor %}
              </div>
           </div>
  		</div>
  		{% elsif section.settings.homepage_style == 'two_slides' %}
  		<div id="slider" class="headlines two_slides pb-lg-4" aria-label="owl" aria-describedby="owl-info" tabindex="-1" data-slider>
          	<div class="headline content-box position-relative d-flex align-items-center">
              {%- for block in section.blocks limit: 2 -%}
                {%- assign block_image = block.settings.image -%}
                <div class="slide d-flex justify-content-center position-relative overflow-hidden bg-dark" data-slide-id="{{ section.id }}">
                    <a href="{{ block.settings.button_link }}" title="{{ block.slide_title | escape }}">
                      {% if block_image != blank %}
                      <picture>
                        <source media="(min-width:767px)" srcset="{{ block_image | image_url }}">
                        <source media="(min-width:0px)" srcset="{{ block_image | image_url }}">
                        <img src="{{ block_image | image_url }}" alt="{{ block.settings.slide_title | escape }}" width="960" height="500" loading="lazy" class="img-fluid">
                      </picture>
                      {% else %}
                      <picture>
                        <source media="(min-width:767px)" srcset="{{ block_image | image_url }}">
                        <source media="(min-width:0px)" srcset="{{ block_image | image_url }}">
                        <img src="{{ block_image | image_url }}" alt="{{ block.settings.slide_title | escape }}" width="960" height="500" loading="lazy" class="img-fluid">
                      </picture>
                      {% endif %}
                    </a>
                    <div class="slide-content text-center left-auto position-absolute">
                            <div class="slide-text{% if section.settings.text_size == 'large' %} large-text{% endif %} mb-4">
                              <h3 class="display-3 text-white text-shadow d-block mb-0">{{ block.settings.slide_title | escape }}</h3>
                              {%- unless block.settings.subheading == blank -%}
                              <span class="lead text-italic text-white text-shadow">{{ block.settings.subheading | escape }}</span>
                              {%- endunless -%}
                            </div>
                            <a href="{{ block.settings.slide.url }}" title="{{ block_image.alt | escape }}" class="btn btn-icon btn-{% if settings.show_btn_gradient %}gradient-{% endif %}primary">
                                <span class="btn-inner--text">{{ block.settings.button_label }}</span><span class="btn-inner--icon"><i class="fal fa-chevron-right"></i></span>
                            </a>
                    </div>
                </div>  
              {% endfor %}
        	</div>
  		</div>
  		{% endif %}
  {% endif %}
</div>

{% schema %}
{
  "name": {
    "nl": "Slider"
  },
  "class": "index-section index-section--flush index-section--owl",
  "max_blocks": 6,
  "settings": [
    {
      "type": "header",
      "content": "Algemeen"
    },
    {
      "type": "select",
      "id": "homepage_style",
      "label": "Kies je stijl",
      "options": [
        {
          "value": "slider",
          "label": "Slider volledige breedte"
        },
        {
          "value": "two_slides",
          "label": "Twee afbeeldingen"
        },
        {
          "value": "banners",
          "label": "Banners"
        },
        {
          "value": "service",
          "label": "Servicedesk"
        }
      ],
      "default": "banners"
    },
    {
      "type": "header",
      "content": "Servicedesk"
    },
    {
      "type": "text",
      "id": "phone",
      "label": {
        "nl": "Telefoonnummer"
      }
    },
    {
      "type": "text",
      "id": "whatsapp",
      "label": {
        "nl": "Whatsappnummer"
      }
    },
    {
      "type": "text",
      "id": "email",
      "label": {
        "nl": "E-mailadres"
      }
    },
    {
      "type": "text",
      "id": "monday",
      "label": {
        "nl": "Maandag"
      },
      "info": {
        "nl": "Enter your business hours of this day here. Example: 9:00-17:00."
      }
    },
    {
      "type": "text",
      "id": "tuesday",
      "label": {
        "nl": "Dinsdag"
      },
      "info": {
        "nl": "Enter your business hours of this day here. Example: 9:00-17:00."
      }
    },
    {
      "type": "text",
      "id": "wednesday",
      "label": {
        "nl": "Woensdag"
      },
      "info": {
        "nl": "Enter your business hours of this day here. Example: 9:00-17:00."
      }
    },
    {
      "type": "text",
      "id": "thursday",
      "label": {
        "nl": "Donderdag"
      },
      "info": {
        "nl": "Enter your business hours of this day here. Example: 9:00-17:00."
      }
    },
    {
      "type": "text",
      "id": "friday",
      "label": {
        "nl": "Vrijdag"
      },
      "info": {
        "nl": "Enter your business hours of this day here. Example: 9:00-17:00."
      }
    },
    {
      "type": "text",
      "id": "saturday",
      "label": {
        "nl": "Zaterdag"
      },
      "info": {
        "nl": "Enter your business hours of this day here. Example: 9:00-17:00."
      }
    },
    {
      "type": "text",
      "id": "sunday",
      "label": {
        "nl": "Zondag"
      },
      "info": {
        "nl": "Enter your business hours of this day here. Example: 9:00-17:00."
      }
    },
    {
      "type": "header",
      "content": "Reviews"
    },
    {
      "type":"url",
      "id": "review_url",
      "label":{"nl":"Plaats hier de review url"}
    },
    {
      "type": "range",
      "id": "reviews_star_count",
      "min": 1,
      "max": 5,
      "step": 1,
      "unit": {
        "nl": "star"
      },
      "default": 5,
      "label": {
        "nl": "Aantal review sterren"
      }
    },
    {
      "type": "text",
      "id": "reviews_score",
      "label": {
        "nl": "Review score"
      }
    },
    {
      "type": "text",
      "id": "reviews_count",
      "label": {
        "nl": "Review aantal"
      }
    },
    {
      "type": "header",
      "content": "Banners"
    },
    {
      "type": "image_picker",
      "id": "banner_1",
      "label": {
        "nl": "Banner 1"
      },
      "info": {
        "nl": "Wordt geschaald naar 305x230 pixels"
      }
    },
    {
      "type": "text",
      "id": "button_1_label",
      "label": {
        "nl": "Knoplabel"
      }
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": {
        "nl": "Knoplink"
      }
    },
    {
      "type": "image_picker",
      "id": "banner_2",
      "label": {
        "nl": "Banner 2"
      },
      "info": {
        "nl": "Wordt geschaald naar 305x230 pixels"
      }
    },
    {
      "type": "text",
      "id": "button_2_label",
      "label": {
        "nl": "Knoplabel"
      }
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": {
        "nl": "Knoplink"
      }
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "nl": "Slide"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "nl": "Afbeelding"
          }
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": {
            "nl": "Kop"
          },
          "default": {
            "nl": "Voer hier je tekst in"
          }
        },
        {
          "type": "text",
          "id": "subheading",
          "label": {
            "nl": "Subkop"
          },
          "default": {
            "nl": "Vertel met afbeeldingen het verhaal van je merk"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "nl": "Knoplabel"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "nl": "Knoplink"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "nl": "Slider"
      },
      "category": {
        "nl": "Afbeelding"
      },
      "settings": {
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
