<div class="product-page container" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" data-ajax-enabled="{{ settings.enable_ajax }}">
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '651x651' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
  {%- liquid
  if product.title
    assign compare_at_price = product.selected_or_first_available_variant.compare_at_price
    assign price = product.selected_or_first_available_variant.price
    assign available = product.available
    assign variant = product.variants.first
  else
    assign compare_at_price = 1999
    assign price = 1999
    assign available = true
  endif

  if settings.product_price_display == 'with_currency'
      assign money_price = price | money_with_currency
      assign compare_at_price2 = compare_at_price | money_with_currency
      assign currencyFormat = shop.money_with_currency_format
  else
      assign money_price = price | money_without_currency
      assign compare_at_price2 = compare_at_price | money_without_currency
      assign currencyFormat = shop.money_without_currency_format
  endif
-%}
  {% include 'breadcrumbs' %}
  <div class="row product">
	<div class="product-title col-12">
      <h1 class="title h2 font-weight-bold mb-0">{{ product.title }}</h1>
      {% if product.vendor and section.settings.show_vendor %}<span class="{% if product.vendor and section.settings.show_vendor %} mr-2{% else %} mr-0{% endif %}">{{ product.vendor }}</span>{% endif %}
      <span class="shopify-product-reviews-badge d-inline-block" data-id="{{ product.id }}"></span>
    </div>
    <div class="page-title col-lg-7 col-sd-12">
      <div class="zoombox pt-md-3 row">
        <div class="product-thumbs col-xl-2 col-md-3 col-12 order-lg-1 order-2">
          {% if product.media.size > 1 %}
            {% if product.media.size > 4 %}
              {%- assign enable_thumbnail_slides = true -%}
            {% endif %}
            <div class="product-thumbs d-md-none d-block">
              <div id="thumbs" class="thumbs owl-thumbs owl-carousel">
                <div class="item item-{{ section.settings.media_size }}{% if enable_thumbnail_slides == true %} item-slide{% endif %} js d-inline-block active">
                    <a href="" data-image-id="{{ image }}" onclick="return false;" class="">
                       <img class="img-fluid border mb-3" src="{{ featured_image.src | img_url: '102x102', scale: 1 }}" alt="{{ featured_image.alt | escape }}">
                    </a>
                </div>
                {% for image in product.images %}
                {% unless image contains featured_image %}
                <a href="" data-image-id="{{ image }}" onclick="return false;" class="">
                  <img src="{{ image | img_url:'156x164x1' }}" alt="{{ image.alt | escape }}" class="img-fluid border mb-3" />
                </a>
                {% endunless %}
                {% endfor %}
              </div>  
            </div>
            <div class="product-thumbs d-md-block d-none">
              <div id="thumbs-desktop" class="thumbs thumbnails-wrapper no-carousel">
                <div class="item item-{{ section.settings.media_size }}{% if enable_thumbnail_slides == true %} item-slide{% endif %} js d-inline-block active">
                    <a href="" data-image-id="{{ image }}" onclick="return false;" class="">
                       <img class="img-fluid border mb-3" src="{{ featured_image.src | img_url: '102x102', scale: 1 }}" alt="{{ featured_image.alt | escape }}">
                    </a>
                </div>
                {% for image in product.images %}
                {% unless image contains featured_image %}
                <div class="item item-{{ section.settings.media_size }}{% if enable_thumbnail_slides == true %} item-slide{% endif %} d-inline-block js">
                  <a href="" data-image-id="{{ image }}" onclick="return false;" class="">
                    <img src="{{ image | img_url:'156x164x2' }}" alt="{{ image.alt | escape }}" class="img-fluid border mb-3" />
                  </a>
                </div>
                {% endunless %}
                {% endfor %}
              </div>  
            </div>

          {% endif %}
        </div>
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media -%}
        <div id="main-image" class="product-image{% if product.media.size > 1 %} col-xl-10 col-md-9 col-12{% else %} col-12{% endif %} order-lg-2 order-1">
          <div class="product-image-main owl-carousel owl-theme product-image-{{ section.id }}">
            <div class="item item-{{ section.settings.media_size }} {% if enable_thumbnail_slides == true %} item-slide{% endif %} js">
              <a href="" data-image-id="{{ image }}" onclick="return false;" class="">
                <img class="img-fluid" src="{{ featured_image | img_url: product_image_zoom_size }}"
                          data-src="{{ img_url }}"
                          data-aspectratio="{{ featured_image.aspect_ratio }}"
                          data-sizes="auto"
                          data-image-id="{{ featured_image.id }}"
                          alt="{{ featured_image.alt | escape }}">
              </a>
            </div>
            {% for image in product.images %}
            {% unless image contains featured_image %}
            <div class="item item-{{ section.settings.media_size }} {% if enable_thumbnail_slides == true %} item-slide{% endif %} js">
              <a href="" data-image-id="{{ image }}" onclick="return false;" class="">
                <img class="img-fluid" src="{{ image | img_url: product_image_zoom_size }}"
                            data-src="{{ img_url }}"
                            data-aspectratio="{{ image.aspect_ratio }}"
                            data-sizes="auto"
                            data-image-id="{{ image.id }}"
                            alt="{{ image.alt | escape }}">
              </a>
            </div>
            {% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5 col-12 {{ product_description_width }}">
      <div class="product-detail pt-md-3">
            <form action="/cart/add" method="post" enctype="multipart/form-data" novalidate="novalidate" class="product-form widget p-4" id="AddToCartForm">
              <div id="product-price" class="product-price product-single__prices mb-3">
                {% if product.selected_or_first_available_variant.price < product.selected_or_first_available_variant.compare_at_price %}
                <span id="productPrice" class="price price-new mr-2">{{ money_price }}</span>
                <span id="comparePrice" class="price price-old text-muted h5">{{ compare_at_price2 }}</span>
                {% else %}
                <span id="productPrice" class="price price-new">{{ money_price }}</span>
                {% endif %}
                {% comment %}
                {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                <div class="product__policies rte text-muted" data-product-policies>
                  {%- if shop.taxes_included -%}
                    {{ 'products.product.include_taxes' | t }}
                  {%- endif -%}
                  {%- if shop.shipping_policy.body != blank -%}
                    {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- endif -%}
                </div>
                {%- endif -%}
                {% endcomment %}
              </div>  
              	{% include 'productpage-configure' %}

				
              <div id="uploadery-container"></div>
              	{% if show_quantity_selector %}
                <div class="product-form__controls-group cart-details py-3">
                  <div class="quantity product-single__quantity product-form__item d-flex align-items-center">
                    <label for="Quantity-{{ section.id }}" class="mb-0 mr-3">{{ 'products.product.quantity' | t }}</label>
                    <div class="input-group">
                      <div class="input-group-btn">
                        <button id="down" class="btn" onclick="updateQuantity('down');return false;"><i class="ni ni-fat-delete align-middle"></i></button>
                      </div>
                      <input type="text" class="form-control input-number" id="updates_{{ item.id }}" name="quantity" data-key="{{ product.id }}" value="1" min="1" pattern="[0-9]*" data-quantity-input>
                      <div class="input-group-btn">
                        <button id="up" class="btn" onclick="updateQuantity('up');return false;"><i class="ni ni-fat-add align-middle"></i></button>
                      </div>
                	</div>
                  </div>
                </div>
				{% endif %}
              <div class="hide product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}" data-error-message-wrapper role="alert">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
              </div>
              
              <div class="product-form__controls-group product-form__controls-group--submit mt-2">
                <div class="product-form__item product-form__item--submit{%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}{%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}">
                  {% unless current_variant.available %}
                  <button type="submit" name="add" id="outstock" disabled data-add-to-cart class="btn btn-icon btn-danger btn-lg btn-block disabled product-form__cart-submit" aria-label="{{ 'products.product.sold_out' | t }}">
                    <span data-add-to-cart-text>  {{ 'products.product.sold_out' | t }}</span>
                  </button>
                  {% else %}
                  <button type="submit" name="add" id="add" data-add-to-cart class="btn btn-icon btn-{% if settings.show_btn_gradient %}gradient-{% endif %}cart btn-lg btn-block product-form__cart-submit {% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn-cart{% endif %}" {% unless current_variant.available %} aria-disabled="true"{% endunless %} aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}">
                    <i class="fa fa-lg fa-shopping-cart"></i>
                    <span data-add-to-cart-text>{{ 'products.product.add_to_cart' | t }}</span>
                    {% if section.settings.free_shipping_text != blank %}
                    <small class="d-block">{{ section.settings.free_shipping_text }}</small>
                    {% endif %}
                  </button>
                  {% endunless %}
                  {% if section.settings.enable_payment_button %}
                  	{{ form | payment_button }}
                  {% endif %}
                </div>
              </div>
        	</form>
            {% if section.settings.show_countdown %}
        	<div class="ism-product-countdown d-flex align-items-center mt-3">
                  <i class="fa fa-clock-o text-primary mr-2"></i><div class="d-inline-block"><span class="title"> {{ 'products.product.order_now' | t }}</span> <span class="time">0:00:00</span> <span>{{ 'products.product.hours' | t }}</span></div>
           	</div>
            {%  endif %}
        	<ul class="combi-list list-unstyled mt-3 pt-3 border-top m-0 p-0"> 
              <li class="combi-item mb-3"><i class="fa fa-check text-primary align-middle"></i><span class="align-middle"> {{ section.settings.product_usp_1 }}</span></li>
              <li class="combi-item mb-3"><i class="fa fa-check text-primary align-middle"></i><span class="align-middle"> {{ section.settings.product_usp_2 }}</span></li>
              <li class="combi-item mb-3"><i class="fa fa-check text-primary align-middle"></i><span class="align-middle"> {{ section.settings.product_usp_3 }}</span></li>
          	</ul>
        </div>

        <div
          class="product-single__store-availability-container"
          data-store-availability-container
          data-product-title="{{ product.title | escape }}"
          data-has-only-default-variant="{{ product.has_only_default_variant }}"
          data-base-url="{{ shop.url }}{{ routes.root_url }}"
        >
        </div>
    </div>
  </div>
  <div class="product-bottom">
    <div class="row">
      <div class="col-lg-7 col-12">
      	<div class="row">
        <div class="col-12">
          {% if product.content.size > 1 %} 
          <div class="product-tab product-content mb-0 d-md-block d-none">
            <div class="title-box h3 mb-0"><strong>{{ 'layout.product.information' | t }}</strong></div>
            <div id="tab-info" class="content-box mb-3"><div class="mt-3">{{ product.content | raw }}</div></div>
            {% if section.settings.show_share_buttons %}
            	<strong class="d-block mb-2">{{ 'general.social.share' | t }}</strong>
              	{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
            {% endif %}
          </div>
          {% endif %}
          {% if product.content.size > 1 %} 
          <div class="product-tab product-content mb-0 d-md-none d-block">
            <div class="title-box h3 mb-0" data-toggle="collapse" data-target="#tab-info"><strong>{{ 'layout.product.information' | t }}</strong></div>
            <div id="tab-info" class="content-box mb-3 collapse" data-parent=".product-bottom"><div class="mt-3">{{ product.content | raw }}</div></div>
            {% if section.settings.show_share_buttons %}
            	<strong class="d-block mb-2">{{ 'general.social.share' | t }}</strong>
              	{% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
            {% endif %}
          </div>
          {% endif %}
        </div>
         {% include 'advanced-tag-loop' %}
       	{%- if product.tags.size > 1 and cat_array != blank -%}
         <div id="specs" class="col-12">
           <div class="row">
             <div class="col-12">
               <div class="product-tab specs mb-0 d-md-block d-none">
                   <div class="title-box h3 mb-0"><strong>{{ 'layout.product.specifications' | t }}</strong></div>
                   <div id="tab-specs" class="content-box">
                       <div class="mt-3">
                       <table class="table">
                        {% for category in cat_array %}
                        <tr>
                          <td class="text-muted">{{ 'general.filters.' | append:category | t }}</td>
                          <td class="spec text-body">
                          {% for tag in product.tags %}
                            {% assign cat = tag | split: '_' | first %}
                            {% if cat != tag and category == cat %}{{ 'general.filters.values.' | append:tag  | remove_first: category | remove_first: '_'  | t  }}{% unless forloop.last %},{% endunless %}{% endif %}
                           {% endfor %}
                           </td>
                         </tr>
                         {%- endfor -%}
                       </table>
                     </div>
                  </div>
               </div>
               <div class="product-tab specs mb-0 d-md-none d-block">
                   <div class="title-box h3 mb-0" data-toggle="collapse" data-target="#tab-specs"><strong>{{ 'layout.product.specifications' | t }}</strong></div>
                   <div id="tab-specs" class="content-box collapse" data-parent=".product-bottom">
                       <div class="mt-3">
                       {% include 'advanced-tag-loop' %}
                       <table class="table">
                        {% for category in cat_array %}
                        <tr>
                          <td class="text-muted">{{ 'general.filters.' | append:category | t }}</td>
                          <td class="spec text-body">
                          {% for tag in product.tags %}
                            {% assign cat = tag | split: '_' | first %}
                            {% if cat != tag and category == cat %}{{ 'general.filters.values.' | append:tag  | remove_first: category | remove_first: '_'  | t  }}{% unless forloop.last %},{% endunless %}{% endif %}
                           {% endfor %}
                           </td>
                         </tr>
                         {%- endfor -%}
                       </table>
                     </div>
                  </div>
               </div>
             </div>
        	</div>
        </div>
        {% endif %}
        {% if section.settings.shopify_reviews %}
        <div class="col-12">
          <div class="product-tab reviews mt-md-3 mb-0">
             <div class="title-box h3 mb-0"><strong>{{ 'layout.product.reviews' | t }}</strong></div>
              <div id="tab-reviews" class="content-box">
               <div class="mt-3">
                  <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
               </div>
              </div>
            </div>
      	  </div>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-5 col-12">
        <div id="related">
        {%- if recommendations.performed -%}
          {%- if recommendations.products_count > 0 -%}
            <div class="product-recommendations">
              <div class="row">
                {%- for product in recommendations.products -%}
                  {% if recommendations.products_count < 3 %}<div class="col-6">{% endif %}
                    {% include 'products-grid', max_height: 250, product: product, show_vendor: section.settings.show_vendor %}
                  {% if recommendations.products_count < 3 %}</div>{% endif %}
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}
        {%- else  -%}
          <div class="container product-recommendations" data-product-id="{{ product.id }}" data-limit="8">
            <div class="loading-screen py-5">
              <div class="d-flex align-items-center justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="visually-hidden hide">Loading...</span>
                </div>
              </div>
              <span class="d-block text-center mt-3">Loading...</span>
            </div>
          </div>
        {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>


<script>
jQuery(function() {
  // OPTION SELECT
  {% if product.available and product.variants.size > 1 %}
  {% assign look_for_image_match = false %}
  {% assign option_index = 0 %}
  {% for option in product.options %}
    {% assign downcased_option = option | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'style' %}
      {% assign look_for_image_match = true %}
      {% assign option_index = forloop.index0 %}
    {% endif %}
  {% endfor %} 
  
  Shopify.doNotTriggerClickOnThumb = false;
  var selectCallback = function(variant, selector) {
    if (variant) {
      if (variant.available) {
          jQuery('#ProductStock-product-template.product-stock').html('<div class="instock text-success"><i class="fa fa-check-circle"></i><span> {{ 'products.product.in_stock' | t: count: qty }}</span></div>');
      } else {
          jQuery('#ProductStock-product-template.product-stock').html('<div class="outstock text-danger"><i class="fa fa-times"></i><span> {{ 'products.product.sold_out' | t: count: qty }}</span></div>');
      }
      if ( variant.compare_at_price > variant.price ) {
          jQuery('#product-price').html('<span id="productPrice" class="price price-new mr-2">'+ Shopify.formatMoney(variant.price, "{{ currencyFormat }}") +'</span>'+'<span class="price-old line-through">'+Shopify.formatMoney(variant.compare_at_price, "{{ currencyFormat }}")+ '</span>');  // update price field
      } else {
          jQuery('#product-price').html('<span id="productPrice" class="price price-new">'+ Shopify.formatMoney(variant.price, "{{ currencyFormat }}") + '</span>');
      }                                                                                                        
    }
    if (variant && variant.available) {
      // selected a valid variant that is available.
      jQuery('#add').removeClass('disabled').removeAttr('disabled').val('{{ 'productpage.add_to_cart' | t | escape }}').fadeTo(200,1); // remove unavailable class from add-to-cart button, and re-enable button
    } else {
      // variant doesn't exist or is sold out
      var message = variant ? "{{ 'productpage.out_of_stock' | t | escape }}" : "Unavailable";  
      jQuery('#add').val(message).addClass('disabled').attr('disabled', 'disabled').fadeTo(200,0.5);      // set add-to-cart button to unavailable class and disable button 
    }

  };

  new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
  jQuery('.single-option-selector').addClass('form-control mb-2');
  // Auto-select first available variant on page load.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      jQuery('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');

      // BEGIN SWATCHES
      jQuery('.swatch li').filter(function() { return jQuery(this).attr('data-option-title') === {{ variant.options[forloop.index0] | json }} }).addClass('selected');
      // END SWATCHES
      {% endfor %}
    {% endif %}
  {% endfor %}

    // BEGIN SWATCHES
    jQuery('.swatch li').click(function() {
      var optionValue = jQuery(this).attr('data-option-title'); // what have I just clicked on?
      jQuery(this).parents('.swatch').find('li').removeClass('selected'); // un-select all the buttons
      jQuery(this).addClass('selected'); // select the current one
      jQuery('.single-option-selector:contains(' + optionValue + ')').val(optionValue).trigger('change');
      return false;
    });
    // END SWATCHES

  {% if look_for_image_match %}
  // If a Color is selected, show the matching product image.
  jQuery('.single-option-selector:eq({{ option_index }})').bind('change', function() {
    if (!Shopify.doNotTriggerClickOnThumb) {
      jQuery('#thumbs-desktop img[alt="' + jQuery(this).val() + '"]:eq(0)').trigger('click');      
    }
    Shopify.doNotTriggerClickOnThumb = false;
    return true;
  });  
  // If an image is shown in Main View, auto-select the corresponding Color option.
  jQuery('#thumbs-desktop img').bind('click', function() {
   var color = jQuery(this).attr('alt');

   if (color && color !== '') {
     var options = jQuery('.single-option-selector:eq({{ option_index }}) option[value="' + color + '"]');
     if (options) {
       Shopify.doNotTriggerClickOnThumb = true;
       jQuery('.single-option-selector:eq({{ option_index }})').val(color).trigger('change');
     }
   }
   return true;
  });
  {% endif %}

  {% endif %}

});

</script>

  {% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  {% if section.settings.stock_enable %}
    <script type="application/json" id="VariantJson-{{ section.id }}">
      [
        {% for variant in product.variants %}
          {
             "incoming": {{ variant.incoming | default: false | json }},
             "next_incoming_date": {{ variant.next_incoming_date | date: format: 'month_day_year' | json }}
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ]
    </script>
  {% endif %}
{% endunless %}

<script>
function updateQuantity(way) {
    var quantity = parseInt($('.cart-details input').val());
    if (way == 'up') {
        if (quantity < 100) {
            quantity++;
        } else {
            quantity = 100;
        }
    } else {
        if (quantity > 1) {
            quantity--;
        } else {
            quantity = 1;
        }
    }
    $('.cart-details input').val(quantity);
}
</script>
{{ 'js-jquery-countdown-min.js' | asset_url | script_tag }}
{% assign weekdays = 'Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday'  | split: "," %}
{% assign date = 'now' | date: '%D' %}
{% assign now = 'now' | date: '%H:%i' %}
<script>
      $(document).ready(function() {
        var showDays = [{% for weekday in weekdays %}{{ forloop.index0 }}{% unless forloop.last %},{% endunless %}{% endfor %}];
  		var showFrom = '{{ section.settings.order_before }}';
        var orderBefore = '{{ section.settings.shipping_timer }}';
        var d = new Date();
        var time = d.getHours();
        var year = d.getFullYear();
        var month = d.getMonth() + 1;
        var date = d.getDate();
        var day = d.getDay();
        var currentDate = d.getFullYear() + '/' + (month < 10 ? '0' : '') + month + '/' + (date < 10 ? '0' : '') + date;
        var showClock = true;
        console.log(time);
        $.each(showDays, function(index, showDay) {
           console.log(time+'-'+showFrom);
          if (time >= showFrom) {
            $('.ism-product-countdown .time').countdown(currentDate + ' ' + orderBefore).on('update.countdown', function(e) {
              var format = '%\H:%\M:%\S';
              $('.ism-product-countdown').show();
              $(this).html('<b>'+e.strftime(format)+'</b>');
            });
          } 
        });
      });
</script>
{% schema %}
{
  "name": {"nl": "Productpagina's"},
  "settings": [
    {
      "type": "checkbox",
      "id" : "show_countdown",
      "label": {"nl": "Countdown weergave"},
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_vendor",
      "label": {"nl": "Leverancier weergeven"},
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {"nl": "Hoeveelheidskiezer weergeven"},
      "default": false
    },
	{
		"type": "text",
        "id": "free_shipping_text",
        "label": {"nl": "Subtekst winkelwagen button"},
        "default": "Gratis verzending",
        "info": "Voer hier een tekst in dat onder de 'in winkelwagen' button komt te staan op de productpagina.",
        "placeholder": "23:59:59"
	},
	{
      "type": "text",
      "id": "order_before",
      "label": {"nl": "De timer loopt om"},
      "default": "8",
	  "info": "(invoer: 0) Vul hier in wanneer de timer moet starten.",
   	  "placeholder": "0"
    },
	{
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "nl": "Dynamische checkoutknop weergeven"
      },
      "info": {
		"nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
	{
      "type": "text",
      "id": "shipping_timer",
      "label": {"nl": "Bestel voor"},
      "default": "23:59:59",
	  "info": "(invoer: uren: minuten: seconden) Voer hier uw voortijd in voor verzending van één dag.",
   	  "placeholder": "23:59:59"
    },
	{
      "type": "text",
      "id": "product_usp_1",
      "label": {"nl": "Product USP 1"},
	  "default": "2 jaar <b> garantie</b>",
	  "info": "Vul hier uw usp in voor de productpagina."
    },
	{
      "type": "text",
      "id": "product_usp_2",
      "label": {"nl": "Product USP 2"},
	  "default": "Gratis binnen <b>30 dagen</b> te retourneren",
	  "info": "Vul hier uw usp in voor de productpagina."
    },
	{
      "type": "text",
      "id": "product_usp_3",
      "label": {"nl": "Product USP 3"},
	  "default": "<b>100 dagen</b> bedenktijd",
	  "info": "Vul hier uw usp in voor de productpagina."
    },
	{
      "type": "checkbox",
      "id": "shopify_reviews",
      "label": {"nl": "Activeer de Shopify reviews"},
      "default": false
    },
	{
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {"nl": "Knoppen voor sociaal delen weergeven"},
      "default": true
    }
  ]
}
{% endschema %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}