<div id="search-template" data-section-id="{{ section.id }}" data-section-type="search-template">
  <div class="container collection__main mb-4" id="Collection">
    {% include 'breadcrumbs' %}
  	<div class="row">
      <div class="col-lg-9 col-md-12 order-lg-2">
      {% if search.performed %}
        {% paginate search.results by 20 %}
          {% if search.results_count == 0 %}
            <h1 class="h2 text-left mb-3">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
            <form id="formSearch" action="{{ routes.search_url }}" method="get" role="search" class="position-relative py-2 mb-0">
                <div class="search-inner-bar form-group{% if section.settings.align_logo == 'left' %} text-center{% else %} text-left{% endif %} mb-0">
                  <div class="input-group input-group-alternative d-inline-flex">
                    <input type="search" id="search-input" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off" class="form-control form-control-alternative"  />
                    <div class="input-group-append align-items-center">
                      <span class="input-group-text"><i class="fa fa-search" onclick="$('#formSearch').submit();return false;" title="{{ 'Search' | t }}"></i></span>
                    </div>
                    <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
                    <input type="hidden" name="type" value="product" aria-hidden="true" />
                  </div>
                </div>
            </form>
            <div id="products" class="collection-products">
              <div id="AjaxinateLoop" class="row collection-grid__products" data-products-count="{{ collection.products_count }}">
                {% for product in search.results %}
                	{%- assign products_count = products_count | plus: 1 -%}
                  	<div class="productborder col-lg-4 col-6">{% include 'products-grid' %}</div>
                {% endfor %}
              </div>
        	</div>
          {% else %}
            <h1 class="h2 text-left mb-3">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
            <form id="formSearch" action="{{ routes.search_url }}" method="get" role="search" class="position-relative py-2 mb-0">
                <div class="search-inner-bar form-group{% if section.settings.align_logo == 'left' %} text-center{% else %} text-left{% endif %} mb-0">
                  <div class="input-group input-group-alternative d-inline-flex">
                    <input type="search" id="search-input" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off" class="form-control form-control-alternative"  />
                    <div class="input-group-append align-items-center">
                      <span class="input-group-text"><i class="fa fa-search" onclick="$('#formSearch').submit();return false;" title="{{ 'Search' | t }}"></i></span>
                    </div>
                    <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
                    <input type="hidden" name="type" value="product" aria-hidden="true" />
                  </div>
                </div>
            </form>
            <div id="products" class="collection-products">
              <div id="AjaxinateLoop" class="row collection-grid__products" data-products-count="{{ collection.products_count }}">
                {% for product in search.results %}
                	{%- assign products_count = products_count | plus: 1 -%}
                  	<div class="productborder col-lg-4 col-6">{% include 'products-grid' %}</div>
                {% endfor %}
              </div>
        	</div>
          {% endif %}

          {% if paginate.pages > 1 %}
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
          {% endif %}

        {% endpaginate %}

      {% else %}

        {% comment %}
          If search.performed is false, someone either accessed the page without the q parameter, or it was blank.
        {% endcomment %}
        <h1 class="h2 text-left mb-3">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
            <form id="formSearch" action="{{ routes.search_url }}" method="get" role="search" class="position-relative py-2 mb-0">
                <div class="search-inner-bar form-group{% if section.settings.align_logo == 'left' %} text-center{% else %} text-left{% endif %} mb-0">
                  <div class="input-group input-group-alternative d-inline-flex">
                    <input type="search" id="search-input" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" autocomplete="off" class="form-control form-control-alternative"  />
                    <div class="input-group-append align-items-center">
                      <span class="input-group-text"><i class="fa fa-search" onclick="$('#formSearch').submit();return false;" title="{{ 'Search' | t }}"></i></span>
                    </div>
                    <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
                    <input type="hidden" name="type" value="product" aria-hidden="true" />
                  </div>
                </div>
            </form>
            <div id="products" class="collection-products">
              <div id="AjaxinateLoop" class="row collection-grid__products" data-products-count="{{ collection.products_count }}">
                {% for product in search.results %}
                	{%- assign products_count = products_count | plus: 1 -%}
                  	<div class="productborder col-lg-4 col-6">{% include 'products-grid' %}</div>
                {% endfor %}
              </div>
        	</div>

      {% endif %}
      </div>
      <div class="col-lg-3 col-md-12 order-lg-1 d-lg-block d-none">
        {% include 'theme-sidebar-collection' %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": {"nl": "Zoeken"},
  "settings": [
  ]
}
{% endschema %}
